<div class="registerPage">
  <nav class="nav-bar">
    <img src="../assets/pictures/NotflixLogo.png" class="logo" />
    <button class="sign-in">Sign In</button>
  </nav>

  <form class="register-form">
    <div class="text-box">
      <p>STEP 1 OF 3</p>
      <h1>Create a password to startyour membership</h1>
      <p>Just a few more steps and you're done!</p>
      <p>We hate paperwork, too.</p>
    </div>
    <div class="account-group">
      <input
        type="email"
        class="form-control"
        placeholder="Enter your email *"
        required
      />
    </div>
    <div class="passwor-group">
      <input
        type="password"
        class="form-control"
        placeholder="Add a password *"
        required/>
    </div>
    <button class="nextBtn">Next</button>
  </form>
</div>
