<div class="login-pages">
  <header class="nav-bar">
    <a routerLink="/home">
      <img
      src="../assets/pictures/NotflixLogo.png"
      class="logo"
      alt="Notflix Logo"
    />
    </a>
  </header>

  <div class="login-form">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <h2>Sign In</h2>
      <div class="form-group">
        <input
          type="email"
          placeholder="Email or phone number *"
          class="form-control"
          formControlName="email"
          required
        />
      
      </div>
      <div *ngIf="loginForm.get('email')?.touched && loginForm.get('email')?.invalid" class="error">
        <span *ngIf="loginForm.get('email')?.errors?.['required']">Email or phone number is required.</span>
        <span *ngIf="loginForm.get('email')?.errors?.['pattern']">Please enter a valid email address.</span>
      </div>

      <div class="password-group">
        <input
          type="password"
          placeholder="Enter your password *"
          class="form-control"
          formControlName="password"
          required
        />

      </div>
      <div *ngIf="loginForm.get('password')?.touched && loginForm.get('password')?.invalid" class="error">
        <span *ngIf="loginForm.get('password')?.errors?.['required']">Password is required.</span>
        <span *ngIf="loginForm.get('password')?.errors?.['minlength']">Password must be at least 6 characters.</span>
      </div>

      <button type="submit" class="btn-primary" [disabled]="loginForm.invalid">Sign In</button>

      <div class="extra-options">
        <label> <input type="checkbox" /> Remember me </label>
        <a href="#">Need Help?</a>
      </div>

      <div class="social-login">
        <button class="btn-facebook" >Login with Facebook</button>
      </div>

 
    <div class="signup-link">
        New to Notflix? <a href="#">Sign up now.</a>
      </div>

      <div class="recaptcha">
        This page is protected by Google reCAPTCHA to ensure you're not a bot.
        <a href="#">Learn more</a>.

  </div>
      
    </form>
  </div>
</div>
