
.apiKey-form{
    padding-top: 15%;
    width: 100%;
    max-width: 400px;
    margin: auto;
    text-align: start;
}
 
 

.text-box{
 
        padding-bottom: 2rem;
        padding-top: 2rem;
}
 
 h1{
       padding-top: 2rem;
}

.username-group {
 
    padding-bottom: 2rem;
}

.form-control{
    border-bottom: 1.2px solid rgb(169, 168, 168); 
    background-color: hwb(60 91% 7% / 0.879);
    width: 95%;
    padding: 0.75rem;
    font-size: 1rem;
    border: none;
    border-radius: 5px;
    margin-bottom: 1rem;
 
}

.nextBtn {
    color: white;
    background-color: #e02831ee ;
    margin-top: 1.5rem;
    font-size: 1rem;
    border: none;
    padding: 0.75rem;
    border-radius: 5px;
    width: 95%;
    cursor: pointer;
    margin-top: 40px;

  }

.nextBtn:hover {
    background-color: #f8525a;
  }
