


<div class="login-pages">
  <header class="nav-bar">
    <img
      src="../assets/pictures/NotflixLogo.png"
      class="logo"
      alt="Notflix Logo"
    />
  </header>

  <div class="login-form">
    <form>
      <h2>Sign In</h2>
      <div class="form-group">
        <input
          type="email"
          placeholder="Email or phone number *"
          class="form-control"
          required
        />
      </div>

      <div class="password-group">
        <input
          type="password"
          placeholder="Enter your password *"
          class="form-control"
          required
        />
      </div>

      <button type="submit" class="btn-primary">Sign In</button>

      <div class="extra-options">
        <label> <input type="checkbox" /> Remember me </label>
        <a href="#">Need Help?</a>
      </div>

      <div class="social-login">
        <button class="btn-facebook">Login with Facebook</button>
      </div>

 
    <div class="signup-link">
        New to Notflix? <a href="#">Sign up now.</a>
      </div>

      <div class="recaptcha">
        This page is protected by Google reCAPTCHA to ensure you're not a bot.
        <a href="#">Learn more</a>.

  </div>
      
    </form>
  </div>
</div>
