<div class="home">
    <app-nav-top></app-nav-top>

    <div class="hero">
        <h1>Unlimited movies, TV shows, and more.</h1>
        <h2>Watch anywhere. Cancel anytime.</h2>
        <h3>Ready to watch? Enter your email to create or restart your membership.</h3>
        <form class="email-form" [formGroup]="emailForm" (ngSubmit)="onSubmit()">
            <input 
              type="email" 
              placeholder="Email Address" 
              formControlName="email"  
            /><button type="submit" [routerLink]="['/register']" [disabled]="emailForm.invalid">
                Get Started &gt;
              </button>
            <div *ngIf="email?.invalid && email?.touched" class="error">
                Please enter a valid email address.
            </div>
            
            </form>
    </div>
</div>