<div class="registerPage">
  <nav class="nav-bar">
    <img src="../assets/pictures/NotflixLogo.png" class="logo" />
    <button class="sign-in">Sign In</button>
  </nav>

  <form class="apiKey-form">
    <div class="text-box">
      <p>STEP 2 OF 3</p>
      <h1>Create a Username && Add your Tmdb Api_Key</h1>
      <p>Just a few more steps and you're done!</p>
      <p>We hate paperwork, too.</p>
    </div>
    <div class="username-group">
      <input
        type="email"
        class="form-control"
        placeholder="Enter your username *"
        required
      />
    </div>
    <div class="Api_Key">
      <input
        type="password"
        class="form-control"
        placeholder="Add your Tmdb Api_Key*"
        required
      />
    </div>
    <button class="nextBtn">Next</button>
  </form>
</div>
