 <!-- <app-movie-list>

</app-movie-list>   -->



<!-- 
<app-feature></app-feature>
<app-download-page></app-download-page>  
 -->

 <!-- <app-login-page></app-login-page> -->
<!-- 
 -->


 <!-- <app-register></app-register>
 

<app-nav-top></app-nav-top>

<app-plan></app-plan> -->
<!-- <app-nav-top></app-nav-top> -->

<!-- 
<app-details></app-details> -->


<!-- <app-nav-bar></app-nav-bar> -->
<!-- <app-feature></app-feature> -->
<!-- <app-download-page></app-download-page>   -->
  <!-- <router-outlet></router-outlet>   -->


  <!-- <app-register></app-register> -->


  
  <router-outlet></router-outlet>