<section class="download">
    <div class="download-container">
      <div class="img-wrap">
        <img class="show-picture" src="assets/pictures/phoneImg.jpg" alt="picture1" />
        <div class="black-square">
          <img class="thumbnail" src="assets/pictures/strangerThings.png" alt="strangerThings" />
          <div class="status-text">
            <p class="title">Stranger Things</p>
            <p class="status">Downloading...</p>
          </div>
          <img class="download-icon" src="assets/pictures/downImg.gif" alt="icon" />
        </div>
      </div>
      <div class="text-wrap">
        <h1>Download your shows to watch offline.</h1>
        <p>Save your favorites easily and always have something to watch.</p>
      </div>
    </div>
  </section>
  